alabaster
alembic==1.12.0
annotated-types==0.5.0
anyio==3.7.1
arrow
astroid
asttokens
atomicwrites==1.4.0
attrs
autopep8
Babel
backcall
bcrypt
beautifulsoup4
bidict==0.22.1
binaryornot
black
bleach
boto3==1.26.165
botocore==1.29.165
bpemb==0.3.4
brotlipy==0.7.0
certifi==2023.7.22
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
coloredlogs
comm
conllu==4.5.3
contourpy==1.1.0
cookiecutter
cryptography
cycler==0.11.0
debugpy
decorator
defusedxml
Deprecated==1.2.14
diff-match-patch
dill
dnspython==2.4.2
docopt==0.6.2
docstring-to-markdown
docutils
ecdsa==0.18.0
entrypoints
executing
fastapi==0.96.1
fastjsonschema
flair==0.12.2
flake8
fonttools==4.40.0
ftfy==6.1.1
future==0.18.3
gdown==4.4.0
gensim==4.3.1
greenlet==2.0.2
gunicorn==20.1.0
h11==0.14.0
httpcore==0.17.3
httptools==0.6.0
httpx==0.24.1
humanfriendly
hyperopt==0.2.7
idna
imagesize
importlib-metadata
inflection==0.5.1
iniconfig==2.0.0
intervaltree
ipykernel
ipython
ipython-genutils
isort
jaraco.classes
jedi
jellyfish
Jinja2
jinja2-time
jmespath==1.0.1
jsonschema
jupyter_client
jupyter_core
jupyterlab-pygments
keyring
kiwisolver==1.4.4
langdetect==1.0.9
lazy-object-proxy
lxml
Mako==1.2.4
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.7.1
matplotlib-inline
mccabe
mdurl==0.1.2
mistune
more-itertools
mypy-extensions==0.4.3
nbclient
nbconvert
nbformat
nest-asyncio
numpy==1.25.2
numpydoc
packaging
pandas==2.1.0
pandocfilters
paramiko
parso
passlib==1.7.4
pathspec
pexpect
pickleshare
pipreqs==0.4.13
platformdirs
pluggy
ply==3.11
poyo
prompt-toolkit
psutil==5.9.5
ptyprocess
pure-eval
pyasn1==0.5.0
pycodestyle
pycparser
pydantic==1.10.13
pydantic_core==2.6.3
pydocstyle
pyflakes
Pygments
pylint
pylint-venv
pyls-spyder==0.4.0
pymongo==4.5.0
PyNaCl
pyOpenSSL
PyQt5==5.15.7
PyQt5-sip
PyQtWebEngine==5.15.4
pyreadline3
pyrsistent
PySocks
pytest==7.4.2
python-dateutil
python-dotenv==1.0.0
python-engineio==4.7.1
python-jose==3.3.0
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server
python-multipart==0.0.5
python-slugify
python-socketio==5.9.0
pytoolconfig
pytorch_revgrad==0.2.0
pytz
pywin32==305.1
pywin32-ctypes
pywinpty
PyYAML==6.0.1
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
redis==4.6.0
reflex==0.2.8
requests
rich==13.5.3
rope
rsa==4.9
Rtree
s3transfer==0.6.1
simple-websocket==0.10.1
sip
six
sniffio==1.3.0
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy==1.4.41
sqlalchemy2-stubs==0.0.2a35
sqlmodel==0.0.8
stack-data
starlette==0.27.0
starlette-admin==0.9.0
terminado
text-unidecode
textdistance
three-merge
tinycss2
toml
tomlkit
tornado
traitlets
transformer-smaller-training-vocab==0.2.4
typer==0.4.2
typing_extensions==4.7.1
tzdata==2023.3
ujson
Unidecode
urllib3
uvicorn==0.20.0
watchdog==2.3.1
watchfiles==0.19.0
wcwidth
webencodings==0.5.1
websockets==10.4
whatthepatch
Wikipedia-API==0.6.0
win-inet-pton
wrapt==1.15.0
wsproto==1.2.0
yapf
yarg==0.1.9
zipp
